## Terne pitagoriche

Interessante trovare delle terne $(a,b,c)$ tali che

$$a^2 + b^2 = c^2$$

e che inoltre soddisfino la condizione $c=b+1$. Si vede subito che

$$ b = \frac{a^2 - 1}{2} $$

In [1]:
def terna(a):
    b = (a-1)*(a+1)/2
    c = b + 1
    return (a,int(b),int(c))

In [2]:
terna(3)

(3, 4, 5)

In [3]:
terna(5)

(5, 12, 13)

In [4]:
terna(13)

(13, 84, 85)

In [6]:
terna(85)

(85, 3612, 3613)